SalesforcePROJECT/force-app/main/default/flows/avaliacaocreateorupdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Atribuir_Registro_a_variavel_da_avalia_ao</name>
        <label>Atribuir Registro a variavel da avaliaçao</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>VARIABLERecordAvaliacao.Movie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pegar_Avalia_o_com_Movie_e_Contato_identico.Movie__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VARIABLERecordAvaliacao.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pegar_Avalia_o_com_Movie_e_Contato_identico.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tem_filme_e_contato</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error_ao_criar</name>
        <label>Error ao criar</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <customErrorMessages>
            <errorMessage>Erro ao criar um registro</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Tem_filme_e_contato</name>
        <label>Tem filme e contato?</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sim_tem_filme_e_contato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VARIABLERecordAvaliacao.Movie__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Movie__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pegar_Avalia_o_com_Movie_e_Contato_identico.Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_ao_criar</targetReference>
            </connector>
            <label>Sim, tem filme e contato</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>avaliacaocreateorupdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>avaliacaocreateorupdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Pegar_Avalia_o_com_Movie_e_Contato_identico</name>
        <label>Pegar Avaliação com Movie e Contato identico</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribuir_Registro_a_variavel_da_avalia_ao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Movie__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Movie__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Avalia_es_de_filmes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pegar_Avalia_o_com_Movie_e_Contato_identico</targetReference>
        </connector>
        <object>Avalia_es_de_filmes__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VARIABLERecordAvaliacao</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Avalia_es_de_filmes__c</objectType>
    </variables>
    <variables>
        <name>VARIABLERecordContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>VARIABLERecordMovie</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Movie__c</objectType>
    </variables>
</Flow>
