SalesforcePROJECT/force-app/main/default/flows/Fluxo_1_Criar_Conta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Atribui_Variav_is</name>
        <label>Atribui Variavéis</label>
        <locationX>563</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>recebeInformacoes.nomeConta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recebeInformacoes.telefone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Telefone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recebeInformacoes.cpf</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>chama_segundo_fluxo</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Fluxo 1 Criar Conta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fluxo 1 Criar Conta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>CriarConta</name>
        <label>Criar Conta</label>
        <locationX>563</locationX>
        <locationY>182</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Atribui_Variav_is</targetReference>
        </connector>
        <fields>
            <name>Nome</name>
            <dataType>String</dataType>
            <fieldText>Nome</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Telefone</name>
            <dataType>String</dataType>
            <fieldText>Telefone</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CPF</name>
            <dataType>Number</dataType>
            <fieldText>CPF</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>437</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>CriarConta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>chama_segundo_fluxo</name>
        <label>chama segundo fluxo</label>
        <locationX>565</locationX>
        <locationY>403</locationY>
        <flowName>Segundo_Fluxo_Editar_Informa_es</flowName>
        <inputAssignments>
            <name>recebeInformacoes</name>
            <value>
                <elementReference>recebeInformacoes</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recebeInformacoes</name>
        <apexClass>ObjectVirtualVO</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
