SalesforcePROJECT/force-app/main/default/flows/New_Bot_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Confirm_product</name>
        <choiceText>Confirm product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirm product</stringValue>
        </value>
    </choices>
    <choices>
        <name>Follow_up_call</name>
        <choiceText>Follow-up call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow-up call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Identify_contacts</name>
        <choiceText>Identify contacts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Identify contacts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Research</name>
        <choiceText>Research</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Research</stringValue>
        </value>
    </choices>
    <choices>
        <name>Site_visit</name>
        <choiceText>Site visit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Site visit</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>choiceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>TodayPlus90</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 90</expression>
    </formulas>
    <interviewLabel>New Bot Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Bot Opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opp</name>
        <label>Create Opp</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Estimated_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Estimated_Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <elementReference>Next_Steps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>New_or_Existing_Customer</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Opp_Fields</name>
        <label>Opp Fields</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Opp</targetReference>
        </connector>
        <fields>
            <name>requirement</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(247, 247, 249); font-size: 12px; font-family: Monaco, Menlo, Consolas, &amp;quot;Courier New&amp;quot;, monospace; color: rgb(221, 17, 68);&quot;&gt;You must have spoken with a potential customer about a Bot product before creating an opportunity.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Estimated_Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>TodayPlus90</elementReference>
            </defaultValue>
            <fieldText>Estimated Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(247, 247, 249); font-size: 12px; font-family: Monaco, Menlo, Consolas, &amp;quot;Courier New&amp;quot;, monospace; color: rgb(221, 17, 68);&quot;&gt;You can&apos;t backdate an opportunity.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Estimated_Close_Date} &gt;= TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Estimated_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Estimated Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>New_or_Existing_Customer</name>
            <choiceReferences>choiceType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New or Existing Customer?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next_Steps</name>
            <choiceReferences>Confirm_product</choiceReferences>
            <choiceReferences>Identify_contacts</choiceReferences>
            <choiceReferences>Follow_up_call</choiceReferences>
            <choiceReferences>Site_visit</choiceReferences>
            <choiceReferences>Research</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next Steps</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NextStepsWarning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(247, 247, 249); font-size: 12px; font-family: Monaco, Menlo, Consolas, &amp;quot;Courier New&amp;quot;, monospace; color: rgb(221, 17, 68);&quot;&gt;You didn&apos;t select any Next Steps. Your manager may visit you to confirm your plan of action.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Next_Steps</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opp_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
