SalesforcePROJECT/force-app/main/default/flows/Scren_Flow_FAT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Atribuir_valor_do_elemento_do_scren_para_uma_variavel</name>
        <label>Atribuir valor do elemento do scren para uma variavel</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>VARIABLE_RecordAvaliacao.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VARIABLE_RecordAvaliacao.Movie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VARIABLE_RecordMovie.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VARIABLE_RecordAvaliacao.Nota_do_filme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notass</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VARIABLE_RecordAvaliacao.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PegarIDContato</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Criar_uma_nova_avalia_o_com_as_atribui_es_feitas_pelo_screen_atribui_o</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>TodosFilmes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Movie__c</object>
        <outputAssignments>
            <assignToReference>VARIABLE_RecordMovie.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Scren Flow FAT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scren Flow FAT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Criar_uma_nova_avalia_o_com_as_atribui_es_feitas_pelo_screen_atribui_o</name>
        <label>Criar uma nova avaliação, com as atribuições feitas pelo screen&gt;&gt;atribuição</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputReference>VARIABLE_RecordAvaliacao</inputReference>
    </recordCreates>
    <recordLookups>
        <description>eu vou usar o id que a pagina me forneceu e que eu salvei na variavel recordID, para pegar um contato</description>
        <name>pegar_contato_da_page</name>
        <label>pegar contato da page</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FormSimples</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>FormSimples</name>
        <label>FormSimples</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancelar</backButtonLabel>
        <connector>
            <targetReference>Atribuir_valor_do_elemento_do_scren_para_uma_variavel</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notass</name>
            <dataType>Number</dataType>
            <fieldText>Notas</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Movies</name>
            <choiceReferences>TodosFilmes</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Movies</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Criar avaliação</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>pegar_contato_da_page</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Notas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PegarIDContato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VARIABLE_RecordAvaliacao</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Avalia_es_de_filmes__c</objectType>
    </variables>
    <variables>
        <name>VARIABLE_RecordContato</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>VARIABLE_RecordMovie</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Movie__c</objectType>
    </variables>
</Flow>
