SalesforcePROJECT/force-app/main/default/flows/Segundo_Fluxo_Editar_Informa_es.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invocable_Criar_Conta</name>
        <label>Invocable Criar Conta</label>
        <locationX>270</locationX>
        <locationY>361</locationY>
        <actionName>InvocableCriarConta</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Armazenar_Mensagem_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>variaveisRecebidas</name>
            <value>
                <elementReference>recebeInformacoes</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableCriarConta</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Armazenar_Mensagem_0</name>
        <label>Armazenar Mensagem</label>
        <locationX>271</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>recebeMensagem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invocable_Criar_Conta.mensagem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExibeMensagemDaClasseInvocable_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_Variav_is</name>
        <label>Atribui Variavéis</label>
        <locationX>275</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>recebeInformacoes.nomeConta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recebeInformacoes.telefone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Telefone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recebeInformacoes.cpf</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invocable_Criar_Conta</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Segundo Fluxo Editar Informações {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Segundo Fluxo Editar Informações</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Editar_Informa_es</name>
        <label>Editar Informações</label>
        <locationX>274</locationX>
        <locationY>159</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Atribui_Variav_is</targetReference>
        </connector>
        <fields>
            <name>Nome</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recebeInformacoes.nomeConta</elementReference>
            </defaultValue>
            <fieldText>Nome</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CPF</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>recebeInformacoes.cpf</elementReference>
            </defaultValue>
            <fieldText>CPF</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Telefone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recebeInformacoes.telefone</elementReference>
            </defaultValue>
            <fieldText>Telefone</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ExibeMensagemDaClasseInvocable_0</name>
        <label>ExibeMensagemDaClasseInvocable</label>
        <locationX>554</locationX>
        <locationY>515</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorrMensagem_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 0, 0);&quot;&gt;{!recebeMensagem}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>141</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Editar_Informa_es</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recebeInformacoes</name>
        <apexClass>ObjectVirtualVO</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recebeMensagem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
